[Desktop Entry]
Encoding=UTF-8
Name=x3270
Comment=3270 Terminal Emulator
Comment[pl]=Emulator Terminala 3270
Exec=x3270
Terminal=false
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
